@font-face {
	font-family: consolas;
}

@font-face {
	font-family: consolas-semibold;
}

body {
  font-family: consolas, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* toast */
.toast-body {
	min-width: 180px;
}

/* modal */
.modal-title {
	font-family: averta-semibold;
}

.modal-body {
	font-family: averta-regular;
}


/* LOGO */
#logo-text {
	font-family: averta-semibold;
	font-size: 22px;
}

/* 导航栏 */
vault-sidebar > * .nav-item {
	width: max-content;
}

.nav-link {
	color: #000000;
	cursor: pointer;
}

.nav-link.active {
	background-color: #000000 !important;
	fill: white;
}

.nav-icon {
	fill: inherit;
	width: 20px;
	height: 20px;
}

button.custom-sub {
	min-width: 140px;
	font-family: averta-semibold;
	font-size: 14px;
	color: black;
	background-color: #ffffff;
  border-radius: 60px;
	border-width: 1px;
}

button#sidebar-connect-network:disabled {
	color: #636568;
	border-width: 0px;
}

#earn-subtitle {
	font-family: averta-regular;
	font-size: 20px;
}

/* lock record */
div.lock-record{
	width: 600px;
}

tr.lock-record-content{
	height: 33px;
}

.lock-record-header {
	color: #999CA0;
	font-family: averta-regular;
	font-size: 14px;
}

.lock-record-text {
	font-family: averta-semibold;
}

.lock-record-text-gray {
	color: #999CA0;
	font-family: averta-regular;
}

button.lock-record {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	font-family: averta-semibold;
	font-size: 14px;
	color: black;
	background-color: #ffffff;
  border-radius: 60px;
	border-width: 1px;
}

/* invest item */
invest-item-list {
	display: flex;
	flex-direction: column;
}

.invest-item {
	width: 600px;
}

.invest-item-toggle {
	cursor: pointer;
}

.coin-info {
	min-width: 120px;
}

.invest-item-header {
	color: #999CA0;
	font-family: averta-regular;
	font-size: 14px;
}

.apy-group {
	min-width: 100px;
}

.apy-green {
	color: #0DCB63;
}

.lock-group {
	min-width: 110px;
}

.drop-down {
	transform: rotate(180deg);
}

button.custom-main {
	font-family: averta-semibold;
	font-size: 14px;
	color: white;
	background-color: #4E46B4;
  border-radius: 8px;
	border-width: 0px;
  padding: 8px 47.5px;
}

button.custom-main:disabled {
	background-color: #999CA0;
}

.invest-item-text {
	color: #999CA0;
	font-family: averta-regular;
	font-size: 15px;
}
